# Dependencias
node_modules/
.pnpm-store/

# Carpeta de salida (Build)
# Muy importante ignorarla para que GitHub Actions trabaje limpio
# Carpeta de salida (Build)
# Muy importante ignorarla para que GitHub Actions trabaje limpio
dist/
devto_dist/
_site/

# Caché y archivos temporales de Astro
.astro/
.sass-cache/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs de error
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno (Secretos)
.env
.env.production
.env.local