 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-canva-original colored"></i>
      <p>Design is an essential element in any business, since it is responsible for creating the online public face of a brand. It is something you have to take care of in order to get the best results and to enjoy all the benefits it offers you.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <!-- <i class="devicon-javascript-plain colored"></i> -->
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-kotlin-plain-wordmark colored"></i>
      <i class="devicon-python-plain"></i>
      <!-- <i class="devicon-flask-plain-wordmark"></i> -->
      <p>Knowledge in development languages such as Java, Python, JavaScript. Knowledge in database and caching such as PostgreSQL, MySQL among others. Problem solving, creative, communication, teamwork, leadership, organization, effective communication.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-inkscape-plain colored"></i>
      <i class="devicon-vscode-plain colored"></i>
      <i class="devicon-pycharm-plain colored"></i>
      <!-- <i class="devicon-linux-plain colored"></i> -->
      <i class="devicon-blender-original colored"></i>
      <p>Application development continues to be one of the most sought-after careers in the technology world. 
        For this reason, knowledge of various technologies and tools is required, which can be difficult to master at the beginning.</p>
    </div>
</div>
