<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Robótica educativa" src="{{ "/assets/img/robotica-educativa.webp" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Educational Robotics</h3>
    <ul>
      <li>Arduino</li>
      <li>Robotics</li>
      <li>Programming for children</li>
      <li>Basic Electronics</li>
    </ul>
    <p>Educational robotics projects designed to teach STEM concepts to students of all ages. I develop workshops and educational kits that combine affordable hardware with intuitive programming, allowing students to build and program their own robots while learning logic, physics and problem solving.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Desarrollo web con Astro" src="{{ "/assets/img/astro-projects.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Projects with Astro.js</h3>
    <ul>
      <li>Astro.js</li>
      <li>JavaScript</li>
      <li>SSG (Static Site Generation)</li>
      <li>Performance optimization</li>
    </ul>
    <p>I develop modern and ultra-fast websites using Astro.js, a framework that allows you to create web experiences with less JavaScript. My projects take advantage of static generation, islands architecture and integration with multiple frameworks to deliver excellent performance and SEO.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
